# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Admin\Desktop\College\Year 4\Semester 1\CT417 Software Engineering III\Week 3\Assignment 1 Part B\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
